@media only screen and (max-width: 1402px) {

}
@media only screen and (max-width: 1272px) {
	.main-logo {
		text-align: center;
	}
	.banner__top .btn {
		margin-top: 15px;
		margin-right: auto;
	}
	.main-nav {
		text-align: center;
	}
	.main-nav,
	.footer__nav {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.cat__item-wrp {
		max-width: 480px;
		margin-bottom: 20px;
	}
	.banner__offer {
		text-align: center;
		margin: auto;
	}
		.banner__offer .btn {
			margin-left: auto;
			margin-right: auto;
		}
	.feed__form-top .input__wrp:first-child {
		margin-bottom: 15px;
	}
	.test__item-descr {
		margin-bottom: 45px;
	}
	.reviews__item-wrp {
		margin: 10px auto;
		max-width: 360px;
	}
}
@media only screen and (max-width: 1024px) {
	.owl-carousel .owl-nav button.owl-next,
	.owl-carousel .owl-nav button.owl-prev {
		width: 30px;
		height: 30px;
	}
	.reviews__item-img {
		left: 0;
		top: 0;
	}
	.reviews .owl-carousel .owl-nav button.owl-next,
	.reviews .owl-carousel .owl-nav button.owl-prev {
		background-color: #fff
	}
	.brands .owl-carousel .owl-nav button.owl-next,
	.brands .owl-carousel .owl-nav button.owl-prev {
		top: 5%;
	}
	.owl-carousel .owl-nav button.owl-next img,
	.owl-carousel .owl-nav button.owl-prev img {
		max-width: 9px;
	}
}
@media only screen and (max-width: 996px) {
	.header__top-container {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	    justify-content: center;
	}
	.header__hamburger {
	    display: block;
	}
	.owl-carousel .owl-nav button.owl-prev {
		left: 0;
	}
	.owl-carousel .owl-nav button.owl-next {
		right: 0;
	}
	
}
@media only screen and (max-width: 768px) {
	section {
		padding: 25px 0;
	}
	.section__ttl {
		font-size: 25px;
	}
		.section__ttl span {
			font-size: 30px;
		}
}
@media only screen and (max-width: 658px) {

}
@media only screen and (max-width: 570px) {

}